html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: 20px;
    padding-left: 40px;
    font-size: 3rem;
    color: white;
    background-color: black;
}

.body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    flex-grow: 1;
}

.sidebar{
    background-color: rgb(174, 174, 174);
    padding: 40px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.inbox-header:hover, .project-header:hover{
    background-color: rgb(149, 149, 149);
}

.inbox-header, .project-header{
    padding: 10px;
    width: 200px;
    border-radius: 15px;
}

.content-container{
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-title{
    font-size: 2em;
}

.addTask{
    background-color: rgb(150, 148, 148);
    padding: 10px;
}

.addTask:hover{
    background-color: rgb(111, 111, 111);
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    flex-direction: column;
    padding: 20px;
    background-color: rgb(153, 153, 153);
    width: 350px;
}

.form-element{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.task-container{
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.taskList{
    background-color: pink;
    padding: 10px;
}

.task-content{
    display: flex;
    justify-content: space-between;
}


.task:checked + label{
    text-decoration: line-through;
}

.return-btn{
    background-color: rgb(212, 203, 130);
    width: 118px;
}
.return-btn:hover{
    background-color: rgb(156, 148, 92);
    width: 118px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 30px;
}

.project-content{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    gap: 20px;
    background-color: rgb(130, 130, 130);
    
}

.project-detail, .task-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.projectTabs{
    font-size: 20px;
    margin-left: 30px;
}

.projectTabs:hover{
    font-size: 20px;
    margin-left: 30px;
    background-color: rgb(117, 117, 117);


}

.project-message{
    text-align: center;
}
